"*":
  "atom-material-ui":
    panelContrast: true
    useRoboto: true
    useRobotoInUI: true
  "atom-ternjs": {}
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  docblockr: {}
  editor:
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
    tabLength: 4
  "exception-reporting":
    userId: "6f45b3c8-0e8c-b99e-f9e4-eb08722f2adb"
  minimap: {}
  "terminal-plus":
    core: {}
    style:
      fontFamily: "Input Mono"
      fontSize: 12
    toggles:
      autoClose: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
