"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/mattb/projects"
  editor:
    fontFamily: "Input Mono"
    invisibles: {}
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "9a2db530-250a-d825-0816-b8ebb933b8c9"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    installRecommendedPackages: true
    "nuclide-diagnostics-store":
      legacyLintOnTheFly: true
    "nuclide-flow":
      diagnosticsOnFly: true
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-blame": false
      "nuclide-blame-provider-hg": false
      "nuclide-blame-ui": false
      "nuclide-buck-files": false
      "nuclide-buck-toolbar": false
      "nuclide-debugger-hhvm": false
      "nuclide-diff-view": false
      "nuclide-hack": false
      "nuclide-hack-symbol-provider": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-hhvm-toolbar": false
      "nuclide-language-hack": false
      "nuclide-ocaml": false
      "nuclide-remote-projects": false
      "nuclide-service-monitor": false
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    softWrapHangingIndent: 4
    tabLength: 4
".hackfragment.source":
  editor:
    softWrapHangingIndent: 4
    tabLength: 4
